@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject NavigationManager Navigation

<PageTitle>SociosApp</PageTitle>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">SociosApp</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/home">Inicio</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/socios">Socios</NavLink>
                </li>
               <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="reportesDropdown" role="button" data-bs-toggle="dropdown">
                        Reportes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="reportesDropdown">
                        <li><NavLink class="dropdown-item" href="/reporte-socios">Listado de Socios</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/reporte-saldos">Listado de Saldos</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/reporte-movimientos">Movimientos Entre Fechas</NavLink></li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="cuentaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Cuenta Corriente
    </a>
    <ul class="dropdown-menu" aria-labelledby="cuentaDropdown">
        <li><NavLink class="dropdown-item" href="/movimientos">Movimientos</NavLink></li>
        <li><NavLink class="dropdown-item" href="/estado-cuenta">Estado de Cuenta</NavLink></li>
    </ul>
</li>
            </ul>

            <span class="navbar-text me-3">@usuario</span>
            <button class="btn btn-outline-light btn-sm" @onclick="CerrarSesion">Salir</button>
        </div>
    </div>
</nav>

<div class="container mt-4">
    @Body
</div>

@code {
    private string usuario = "";

    protected override async Task OnInitializedAsync()
    {
        usuario = await JS.InvokeAsync<string>("localStorage.getItem", "usuarioLogueado") ?? "Usuario";
    }

    private async Task CerrarSesion()
    {
        await JS.InvokeVoidAsync("localStorage.clear");
        Navigation.NavigateTo("/", true);
    }
}
